* {
    box-sizing: border-box;
}

body {
    font-family: Impact, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9b9b9b;
}

.layout {
    display: grid;
    grid-template-areas:
    "header header header"
    "leftBorder main rightBorder" 
    "footer footer footer";
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 4fr 8fr 4fr;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-areas:
    "headerTitle locationBox cameraAngleBox";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #333;
    color: white;
    align-items: center;

}

.header h1 {
    grid-area: headerTitle;
    padding-left: 1vw;
}

#locationBox {
    grid-area: locationBox;
    display: flex;
    border: 0.2em solid white;
    width: fit-content;
    padding: 0.5em;
}

#location {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#cameraAngleBox {
    grid-area: cameraAngleBox;
    display: flex;
    align-items: flex-start;
    border: 0.2em solid white;
    width: fit-content;
    padding: 0.5em;
}

#cameraAngleTitle {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#cameraAngle {
    text-align: left;
    padding-left: 0.5em;
}

.leftBorder {
    display: flex;
    grid-area: leftBorder;
    background-color: #555;
    height: 100%;
    justify-content: center;
}

.movementButtons {
    display: grid;
    grid-template-areas: 
    "mov-title mov-title mov-title"
    ". mov-up ."
    "mov-left . mov-right"
    ". mov-down .";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 40%;
    height: fit-content;
    padding: 10px;
    border: 0.4em solid rgb(210, 209, 209);
}

#movementButtonsTitle {
    grid-area: mov-title;
    text-align: center;
    padding-bottom: 10%;
}

.movementButton {
    cursor: pointer;
    max-width: 3vw;
    max-height: 3vw;
    min-width: 1vw;
    min-height: 1vw;
    font-size: 2em;
}

#forwardBtn {
    grid-area: mov-up;
}

#leftBtn {
    grid-area: mov-left;
}

#rightBtn {
    grid-area: mov-right;
}

#backwardBtn {
    grid-area: mov-down;
}

.main {
    grid-area: main;
    padding: 1vh;
    background-image: url("../img/mars_footage.png");
    background-size: cover;
    color: white;
    text-align: center;
    border: 0.2em solid rgb(0, 196, 20);
}

.rightBorder {
    display: flex;
    grid-area: rightBorder;
    background-color: #555;
    height: 100%;
    justify-content: center;
}

.cameraButtons {
    display: grid;
    grid-template-areas: 
    "cam-title cam-title cam-title"
    ". cam-up ."
    "cam-left . cam-right"
    ". cam-down .";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    width: 40%;
    height: fit-content;
    border: 0.4em solid rgb(210, 209, 209);
}

#cameraButtonsTitle {
    grid-area: cam-title;
    text-align: center;
    padding-bottom: 10%;
}

.cameraButton {
    cursor: pointer;
    max-width: 3vw;
    max-height: 3vw;
    min-width: 1vw;
    min-height: 1vw;
    font-size: 2em;
}

#cameraUpBtn {
    grid-area: cam-up;
}

#cameraLeftBtn {
    grid-area: cam-left;
}

#cameraRightBtn {
    grid-area: cam-right;
}

#cameraDownBtn {
    grid-area: cam-down;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .layout {
        grid-template-areas:
            "header"
            "main"
            "leftBorder"
            "rightBorder"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .main {
        height: 20vh;
        width: 100%;
    }

    .header, .leftBorder, .rightBorder, .footer {
        padding: 5%;
    }

    .movementButtons, .cameraButtons {
        width: 80%; 
        height: auto; 
        margin-top: 5%; 
        margin-bottom: 5%; 
    }

    .movementButton, .cameraButton {
        min-width: 45px; 
        min-height: 45px;
    }

    body, #movementButtonsTitle, #cameraButtonsTitle, #location, #cameraAngle {
        font-size: 4vw;
    }
}