body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: grey;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 80vh;
}

@font-face {
    font-family: "PixelFontTitle";
    src: url('./fonts/G7StarForceTtf-OEg6.ttf');
}