body {
  display: flex;
  padding: 20px;
  font-family: Helvetica;
  align-items: center;
  justify-content: center;
}
  
.wrapper {
  display: grid;
  grid-template-areas:
  "title title title"
  "rect rect rect"
  "r r r"
  "g g g"
  "b b b";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 25vw;
  height: 60vh;
}

.box {
  display: flex;
  background-color: #20262e;
  color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.valueInput {
  width: 10%;
  text-align: center;
}

.colorRange {
  width: 40%;
}

#colorField {
  grid-area: title;
}

#redController {
  grid-area: r;
}

#greenController {
  grid-area: g;
}

#blueController {
  grid-area: b;
}

#rect {
  grid-area: rect;
  display: flex;
  height: min(15vh, 15vw);
  width: 100%;
  background-color: #bbb;
  align-items: center;
  justify-content: center;
}
